body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
}

input {
  margin: 0 !important;
  padding: 0 !important;
}

#CanvasContainer {
  width: 100%;
  height: 100vh;
}
